@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';

body{
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
}


nav li:last-child{
    background-color: gray;

    &:hover {
        background: $primary-hover;
    }
}

nav li a {
    transition: $smooth;
    &:hover {
        color: red;
    }
}

section.hero {
    background: $primary;
}

.size {
    background: $primary;
}

.add-to-cart {
    border: 2px solid $secondary;
    color: $primary;
    transition: $smooth;
    &:hover {
        background: $secondary;
        border-color: $pure;
        color: $pure;
    }

    &:focus {
        outline: none;
    }
}

.btn-secondary{
    background: $secondary;
    transition: $smooth;
    &:hover {
        background: $primary-hover;
    }
}

section.cart{
    background: $primary;
    .amount{
        color: $secondary;
    }
}

section.login{
    background: $gray;
    min-height: calc(100vh - 86px);
    a {
        color: $secondary;
        &:hover{
            color: $primary-hover
        }
    }
}

.noty_theme__mint {
    border-radius: 50px!important;
    padding-left: 8px!important;
}

a.link {
    color: $secondary;
}

section.status {
    background: secondary;
    min-height: calc(100vh - 86px);
}

.status-box{
    padding: 50px 0 0;
}

.status-box ul {
    margin-left: 84px;
}

.status-box ul li span{
    position: relative;
    padding-left: 20px;
}

//Dots

.status-box ul li span:after {
    content: '';
    position: absolute;
    left: -10px;
    top:50%;
    background: $dark;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateY(-50%);
}

//Icons
//clipboard &#xf46c;
//double tick &#xf560;
//shipping &#xf0d1;
//van &#xf84a;
//smiley &#xf118;
.status-box ul li span:before{
    //content: '\f46c';
    font-family: "Line Awesome Free";
    font-size: 46px;
    font-weight: 600;
    position: absolute;
    left: -90px;
    top: 50%;
    transform: translateY(-50%);
    color: inherit;
}

.status-box ul li:nth-child(1) span:before{
    content: '\f46c';
}

.status-box ul li:nth-child(2) span:before{
    content: '\f560';
}

.status-box ul li:nth-child(3) span:before{
    content: '\f0d1';
}

.status-box ul li:nth-child(4) span:before{
    content: '\f84a';
}

.status-box ul li:nth-child(5) span:before{
    content: '\f118';
}
.status-box ul li{
    position: relative;
}
//line
.status-box ul li:before {
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    width: 2px;
    height: 70%;
    background: $dark;
    margin-top: 30px;
}

//last dot
.status-box ul li:nth-child(5) span:after{
    box-shadow: 0 40px 1px 40px white;
}

//line
.status-box ul li.step-completed:before {
    background: gray;
}

//dot
.status-box ul li.step-completed span:after {
    background: gray;
}

//text
.status-box ul li.step-completed span{
    color: gray;
}

//current status
//line
/*.status-box ul li.current:before {
    background: $secondary;
}*/

//dot
.status-box ul li.current span:after {
    background: $secondary;
}

//text
.status-box ul li.current span{
    color: $secondary;
}

.status-box ul li small {
    float: right;
    font-size: 14px;
    margin-top: 8px;
}

@media(max-width:1060px) {
    .container{
        max-width: 90%;
    }
    table{
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

@media(max-width: 768px){
    .status-box ul li span:before {
        font-size: 34px;
    }
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
    box-sizing: border-box;
    width: 50%;
    margin-left: auto;
    height: 40px;
  
    padding: 10px 12px;
  
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
